<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/register.css" rel="stylesheet" />
    <%- include("head") %>
  </head>
  <body>
    <%- include("header",{ pageTitle: "登録画面"}) %>
    <div>
      <form href="/solver" method="post">
        <label for="question">問題:</label>
        <textarea name="question" rows="5" cols="30"></textarea>
        <label for="choices1">①:</label>
        <textarea name="choices1" rows="5" cols="30"></textarea>
        <label for="choices2">②:</label>
        <textarea name="choices2" rows="5" cols="30"></textarea>
        <label for="choices3">③:</label>
        <textarea name="choices3" rows="5" cols="30"></textarea>
        <label for="choices4">④:</label>
        <textarea name="choices4" rows="5" cols="30"></textarea>
        <label for="choices5">⑤:</label>
        <textarea name="choices5" rows="5" cols="30"></textarea>
        <label for="answer">答え:</label>
        <textarea name="answer" rows="5" cols="30"></textarea>
        <select name="answer">
          <option value="①">①</option>
          <option value="②">②</option>
          <option value="③">③</option>
          <option value="④">④</option>
          <option value="⑤">⑤</option>
        </select>
        <button type="submit">登録</button>
      </form>
      <form href="/registers" method="get">
        <button type="submit">編集・削除</button>
      </form>
    </div>
  </body>
</html>
