.left{
  display:flex;
  justify-content: center;
}

button{
  width: 300px;
  height: 100px;
  margin: 10px;
  font-size: 250%;
  background-color: #7ad9ff;
}

button:hover{
  background-color: #6dc4e7;
}
